@import "tailwindcss";

/* Self-hosted font: Stupid Meeting */
@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/Bebas_Neue-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: regular;
  font-display: swap;
}

/* Colores base para modo claro y oscuro */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Estilos globales del HTML */
html {
  overflow-x: hidden;
}

/* Estilos globales del BODY */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Bebas_Neue", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
}


